.idea/.gitignore
.idea/deployment.xml
.idea/EEG_Recognition_upload.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
