backup/.gitignore
backup/data_preprocessing.py
backup/data_split.py
backup/egrunet.py
backup/ex_data.py
backup/train.py
backup/ExtractedFeatures/1_20131027.mat
backup/ExtractedFeatures/1_20131030.mat
backup/ExtractedFeatures/1_20131107.mat
backup/ExtractedFeatures/2_20140404.mat
backup/ExtractedFeatures/2_20140413.mat
backup/ExtractedFeatures/2_20140419.mat
backup/ExtractedFeatures/3_20140603.mat
backup/ExtractedFeatures/3_20140611.mat
backup/ExtractedFeatures/3_20140629.mat
backup/ExtractedFeatures/4_20140621.mat
backup/ExtractedFeatures/4_20140702.mat
backup/ExtractedFeatures/4_20140705.mat
backup/ExtractedFeatures/5_20140411.mat
backup/ExtractedFeatures/5_20140418.mat
backup/ExtractedFeatures/5_20140506.mat
backup/ExtractedFeatures/6_20130712.mat
backup/ExtractedFeatures/6_20131016.mat
backup/ExtractedFeatures/6_20131113.mat
backup/ExtractedFeatures/7_20131027.mat
backup/ExtractedFeatures/7_20131030.mat
backup/ExtractedFeatures/7_20131106.mat
backup/ExtractedFeatures/8_20140511.mat
backup/ExtractedFeatures/8_20140514.mat
backup/ExtractedFeatures/8_20140521.mat
backup/ExtractedFeatures/9_20140620.mat
backup/ExtractedFeatures/9_20140627.mat
backup/ExtractedFeatures/9_20140704.mat
backup/ExtractedFeatures/10_20131130.mat
backup/ExtractedFeatures/10_20131204.mat
backup/ExtractedFeatures/10_20131211.mat
backup/ExtractedFeatures/11_20140618.mat
backup/ExtractedFeatures/11_20140625.mat
backup/ExtractedFeatures/11_20140630.mat
backup/ExtractedFeatures/12_20131127.mat
backup/ExtractedFeatures/12_20131201.mat
backup/ExtractedFeatures/12_20131207.mat
backup/ExtractedFeatures/13_20140527.mat
backup/ExtractedFeatures/13_20140603.mat
backup/ExtractedFeatures/13_20140610.mat
backup/ExtractedFeatures/14_20140601.mat
backup/ExtractedFeatures/14_20140615.mat
backup/ExtractedFeatures/14_20140627.mat
backup/ExtractedFeatures/15_20130709.mat
backup/ExtractedFeatures/15_20131016.mat
backup/ExtractedFeatures/15_20131105.mat
backup/ExtractedFeatures/ExtractedFeatures.zip
backup/ExtractedFeatures/label.mat
backup/ExtractedFeatures/readme.txt
backup/ExtractedFeatures/extracted/session1/1_20131027.mat
backup/ExtractedFeatures/extracted/session1/2_20140404.mat
backup/ExtractedFeatures/extracted/session1/3_20140603.mat
backup/ExtractedFeatures/extracted/session1/4_20140621.mat
backup/ExtractedFeatures/extracted/session1/5_20140411.mat
backup/ExtractedFeatures/extracted/session1/6_20130712.mat
backup/ExtractedFeatures/extracted/session1/7_20131027.mat
backup/ExtractedFeatures/extracted/session1/8_20140511.mat
backup/ExtractedFeatures/extracted/session1/9_20140620.mat
backup/ExtractedFeatures/extracted/session1/10_20131130.mat
backup/ExtractedFeatures/extracted/session1/11_20140618.mat
backup/ExtractedFeatures/extracted/session1/12_20131127.mat
backup/ExtractedFeatures/extracted/session1/13_20140527.mat
backup/ExtractedFeatures/extracted/session1/14_20140601.mat
backup/ExtractedFeatures/extracted/session1/15_20130709.mat
backup/ExtractedFeatures/extracted/session2/1_20131030.mat
backup/ExtractedFeatures/extracted/session2/2_20140413.mat
backup/ExtractedFeatures/extracted/session2/3_20140611.mat
backup/ExtractedFeatures/extracted/session2/4_20140702.mat
backup/ExtractedFeatures/extracted/session2/5_20140418.mat
backup/ExtractedFeatures/extracted/session2/6_20131016.mat
backup/ExtractedFeatures/extracted/session2/7_20131030.mat
backup/ExtractedFeatures/extracted/session2/8_20140514.mat
backup/ExtractedFeatures/extracted/session2/9_20140627.mat
backup/ExtractedFeatures/extracted/session2/10_20131204.mat
backup/ExtractedFeatures/extracted/session2/11_20140625.mat
backup/ExtractedFeatures/extracted/session2/12_20131201.mat
backup/ExtractedFeatures/extracted/session2/13_20140603.mat
backup/ExtractedFeatures/extracted/session2/14_20140615.mat
backup/ExtractedFeatures/extracted/session2/15_20131016.mat
backup/ExtractedFeatures/extracted/session3/1_20131107.mat
backup/ExtractedFeatures/extracted/session3/2_20140419.mat
backup/ExtractedFeatures/extracted/session3/3_20140629.mat
backup/ExtractedFeatures/extracted/session3/4_20140705.mat
backup/ExtractedFeatures/extracted/session3/5_20140506.mat
backup/ExtractedFeatures/extracted/session3/6_20131113.mat
backup/ExtractedFeatures/extracted/session3/7_20131106.mat
backup/ExtractedFeatures/extracted/session3/8_20140521.mat
backup/ExtractedFeatures/extracted/session3/9_20140704.mat
backup/ExtractedFeatures/extracted/session3/10_20131211.mat
backup/ExtractedFeatures/extracted/session3/11_20140630.mat
backup/ExtractedFeatures/extracted/session3/12_20131207.mat
backup/ExtractedFeatures/extracted/session3/13_20140610.mat
backup/ExtractedFeatures/extracted/session3/14_20140627.mat
backup/ExtractedFeatures/extracted/session3/15_20131105.mat
backup/checkpoints/session_1_best.pth
utils/diff_channal.py
utils/tf_gru3.py
